body {
}

#zoom {
  padding-top: 1rem;
}

main {
  padding-top: 1rem;
}

.height-viewport {
    max-height: 100vh;
}

.fit-content-height {
  min-height: fit-content;
}

#theme-img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  html, body {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  main {
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  nav.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

@media only screen and (min-width: 768px) {
  .md-max-height {
    max-height: 100%;
  }
}
